body, html {
    height: 100vh;
    margin: 0;
}

#footer {
    text-align: center;
    padding: 10px;
    background-color: #222831;
    color: #EEEEEE;
    font-size: 14px;
    font-weight: medium;
}